.box {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}

.box_content {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.box_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 32%;
    height: 50px;
    background-color: #333333;
    border-radius: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 5px;
}

.link_chap {
    font-size: 20px;
    text-decoration: none;
    color: #ff5f17;
}

.link_chap:hover {
    color: white;
}

.noChap {
    text-align: center;
    width: 100%;
}

.btn_xoa {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    color: brown;
    border-radius: 10px;
    background-color: white;
}

.btn_xoa:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

.btn_add_chap {
    display: flex;
    justify-content: center;
}

.btn_add_chap>button {
    height: 40px;
    font-size: 19px;
    width: 120px;
    background-color: rgb(25, 102, 191);
    border: none;
    color: white;
    margin-bottom: 20px;
    border-radius: 3px;
}

.btn_add_chap>button:hover {
    background-color: rgb(24, 118, 225);
    cursor: pointer;
}

.modal_block {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin-bottom: 12%;
}


.input_img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input_img>input[type='file'] {
    display: none;
}

.label_input_img {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_select_img {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.button_select_img:hover {
    color: #f15e2c;
}

.label_input_img:hover {
    cursor: pointer;
}

.label_input_img>img {
    max-width: 20%;
}

.preview_img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.preview_img img {
    max-width: 30%;
    margin-top: 10px;
    margin-left: 10px;
}

.inputTenChap {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 450px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.addProduct {
    padding: 8px;
    background-color: #555555;
    color: white;
    font-size: 13px;
    width: 90px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.addProduct:hover {
    cursor: pointer;
    color: #f15e2c;
}

.separate {
    width: 100%;
    height: 1px;
    background-color: #999999;
}

.box_img {
    margin-top: 35px;
    margin-bottom: 35px;
    max-height: 250px;
    overflow: auto;
}


@media (max-width: 1000px) {
    .box_content {
        width: 100%;
    }
}